<div class="container">
  <h1>Welcome to Tweet Now <%= @twitter_username %>!</h1>

  <form action="/" method="POST" id="tweet_form">
    <input type="text" value="Surram000" class="tweet_form_elements">
    <textarea rows="6" cols="50" name="tweet_text" class="tweet_form_elements" id="tweet-box"></textarea><br>
    <input type="submit" value="Tweet Now!" class="tweet_form_elements">
  </form>


</div>
